<div class="footer private-footer">
	<div class="container">
		<div class="footer-bottom">
			<ul class="align-items-center flex-row footer-nav nav">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img alt="" class="footer-logo" src="[resources:logo_inv.svg]" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Accesibility</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Privacy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Termns of Use</a>
				</li>
			</ul>

			<ul class="flex-row footer-nav nav">
				<li class="nav-item">
					<a class="nav-link" data-lfr-editable-id="Social01" data-lfr-editable-type="image" href="#">
						<img alt="" src="[resources:instagram.svg]" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-lfr-editable-id="Social02" data-lfr-editable-type="image" href="#">
						<img alt="" src="[resources:facebook.svg]" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-lfr-editable-id="Social03" data-lfr-editable-type="image" href="#">
						<img alt="" src="[resources:linkedin.svg]" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-lfr-editable-id="Social04" data-lfr-editable-type="image" href="#">
						<img alt="" src="[resources:youtube.svg]" />
					</a>
				</li>
			</ul>
		</div>

		<div class="footer-copy">
			<p data-lfr-editable-id="Copy" data-lfr-editable-type="text">© 2020 Raylife Inc. All Rights Reserved.</p>
		</div>
	</div>
</div>